/* Global box styling */
* {
    box-sizing: border-box;
}

/* Entire page styling */
body {
    font-family: Arial;
    margin: 0;
    background: gray;
}

/* Header style */
header {
    background: rgb(190, 190, 235);
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

/* Specific styles for headers */
h2 {
    font-size: 2rem;
}

/* Button in top left */
#leaderButton {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 5px;
    font-size: 1rem;
    z-index: 2;
}

/* Button styles */
button {
    background: darkblue;
    border-radius: 5px;
    padding: 15px 30px;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

/* Alignment for quiz content */
#quiz-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Alignment for quiz content headings */
#quiz-container h2, #quiz-container h1 {
    text-align: center;
}

/* Button spacing */
#quiz-container button {
    margin: 10px;
}

/* Highscore submit form styles */
form {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* Form input field styling */
input {
    height: 30px;
    text-align: center;
}

/* Question card styling */
.question-card {
    background: beige;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
}
